<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="UTF-8">
<title>Login Successful</title>
</head>
<body>

<h4>Welcome to Homepage</h4>
<hr>
User Details - <br><br>
User: <span sec:authentication="name"></span><br>
Roles: <span sec:authentication="principal.authorities"></span>

<br><br>

<p>
	<a th:href="@{/leaders}">Leadership Meeting</a><br>(Only for Managers)<br>
	<br>
	<a th:href="@{/system}">System Info</a><br>(Only for Admins)<br>

</p>

<form action="#" th:action="@{/logout}" method="POST">
	<input type="submit" value="Logout">
</form>

</body>
</html>