<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>My Login Page</title>
</head>
<body>
<h2>LOGIN PAGE</h2> 
<br><hr><br>
	<p style="color:green" th:if="${param.logout != null}">
		Successfully Logged out!
	</p>
	<br>
	<h4>Enter Details </h4><br>
	
	<form action="# "th:action="@{/authenticateDetails}" method="POST">
		Enter username: <input type="text" name="username"><br>
		Enter password: <input type="text" name="password"><br>
		<input type="submit" value="Login">
	</form>
	<p style="color:red" th:if="${param.error != null}">
		Either Username or password is incorrect!!!
	</p>

</body>
</html>